.Box{
    width: 300px;
    height: 188px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    margin: 15px;
    margin-left: 10px;
    background-color: aqua;
}
.Box p{
    font-size:large;
}
.pricebox{
    height: 40px;
    width: 100%;
    background-color: rgb(242, 205, 120);
    text-align: center;
    position: relative;
    bottom: -2.75px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 17px;
    align-items: center;
   
}
.price{
    text-decoration: line-through;
    
}
